<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title><%= title %></title>
    <link rel="shortcut icon" href="/img/favicon.ico">
    <link rel="icon" type="image/png" sizes="32x32" href="/img/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/img/favicon-16x16.png">
  </head>
  <body>
    <img src="/img/id-card.svg" height="64" alt="an id badge">
    <h1><%= title %></h1>
    <a href="/">Home</a>

    <h2>Smart Card</h2>
    <p>Type: <%= profile[:card] || "OOPS" %></p>

    <h2>Certificate(s)</h2>
    <% profile[:certs].each do |cert| %>
      <h2>Certificate 1</h2>
      <p>Serial Number: <%= cert[:serial] || "OOPS" %></p>

      <h3>Issuer</h3>
      <p><%= cert[:issuer] || "OOPS" %></p>

      <h3>Issuance</h3>
      <p>From: <%= cert[:issue_at] || "OOPS" %> To: <%= cert[:expire_at] || "OOPS" %> </p>

      <h3>Subject</h3>
      <p>Name: <%= cert[:subject][:name] || "OOPS" %></p>
      <p>UID: <%= cert[:subject][:uid] || "OOPS" %></p>
      <p>Email: <%= cert[:subject][:email] || "OOPS" %></p>

    <% end %>
  </body>
</html>
